services:
  app:
    build:
      context: ./pathie
      dockerfile: Dockerfile.prod
    command: gunicorn pathie.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/web/staticfiles
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
    networks:
      - pathie_network

  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
    networks:
      - pathie_network

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/home/app/web/staticfiles
    ports:
      - 1337:80
    depends_on:
      - app
    networks:
      - pathie_network

volumes:
  postgres_data:
  static_volume:

networks:
  pathie_network:
    driver: bridge