services:
  app:
    build: ./pathie
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./pathie/:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./.env.dev
    depends_on:
      - db

  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=pathie_dev
    ports:
      - 5432:5432

volumes:
  postgres_data: